@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    text-align: center;
    background: url('../images/background.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
}

